@model RevisionViewModel

<h1>@Model.Title</h1>

@if (Model.Question == null)
{
<p class="item-label">
    @ViewBag.Message
</p>
}
else
{
    <p class="item-label">
        Question:
    </p>

    @using (Html.BeginForm("Index", "FlashCard", FormMethod.Post))
    {
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td class="single-column">
                        @Html.DisplayFor(m => m.Question.Content)
                        @Html.HiddenFor(m => m.Question.Id)
                        @Html.HiddenFor(m => m.Question.Answer1)
                        @Html.HiddenFor(m => m.Question.Answer2)
                        @Html.HiddenFor(m => m.Question.Answer3)
                        @Html.HiddenFor(m => m.Question.Answer4)
                        @Html.HiddenFor(m => m.Question.CorrectAnswer)
                        @Html.HiddenFor(m => m.Question.Reference)
                    </td>
                </tr>
                <tr>
                    <td class="single-column">
                        <input value="Show" id="btnshow" type="submit" class="btn">
                    </td>
                </tr>
            </tbody>
        </table>
    }
}






