@model TestViewModel

<h1>@Model.Title</h1>

@using (Html.BeginForm("Index", "Test", FormMethod.Post))
{
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td colspan="2" class="single-column">
                    <p class="item-label">
                        @Html.DisplayNameFor(m => m.Question.Content)
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="2" class="single-column">
                    @Html.DisplayFor(m => m.Question.Content)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-bottom: 1px solid #000000; "></td>
            </tr>
            <tr>
                <td class="single-column left-2-col">
                    Answer 1: @Html.RadioButtonFor(m => m.ChosenAnswer, 1)
                </td>
                <td class="single-column right-2-col">
                    @Html.DisplayFor(m => m.Question.Answer1)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-bottom: 1px solid #000000; "></td>
            </tr>
            <tr>
                <td class="single-column left-2-col">
                    Answer 2: @Html.RadioButtonFor(m => m.ChosenAnswer, 2)
                </td>
                <td class="single-column right-2-col">
                    @Html.DisplayFor(m => m.Question.Answer2)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-bottom: 1px solid #000000; "></td>
            </tr>
            <tr>
                <td class="single-column left-2-col">
                    Answer 3: @Html.RadioButtonFor(m => m.ChosenAnswer, 3)
                </td>
                <td class="single-column right-2-col">
                    @Html.DisplayFor(m => m.Question.Answer3)
                </td>
            </tr>
            <tr>
                <td colspan="2" style="border-bottom: 1px solid #000000; "></td>
            </tr>
            <tr>
                <td class="single-column left-2-col">
                    Answer 4: @Html.RadioButtonFor(m => m.ChosenAnswer, 4)
                </td>
                <td class="single-column right-2-col">
                    @Html.DisplayFor(m => m.Question.Answer4)
                </td>
            </tr>
            <tr>
                <td colspan="2" class="single-column">
                    <input value="Submit" id="btnsubmit" type="submit" class="btn">
                </td>
            </tr>
        </tbody>
    </table>

    @Html.HiddenFor(m => m.Title)
    @Html.HiddenFor(m => m.Question.Content)
    @Html.HiddenFor(m => m.Question.Answer1)
    @Html.HiddenFor(m => m.Question.Answer2)
    @Html.HiddenFor(m => m.Question.Answer3)
    @Html.HiddenFor(m => m.Question.Answer4)
    @Html.HiddenFor(m => m.Question.CorrectAnswer)
    @Html.HiddenFor(m => m.Question.Reference)
    @Html.HiddenFor(m => m.Question.UnitId)
    @Html.HiddenFor(m => m.currentRecord)
}





