@model Question

<p class="item-label">
    Add Question:
</p>

@using (Html.BeginForm("Add", "Question", FormMethod.Post))
{
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="single-column left-2-col">
                    Question: 
                </td>
                <td class="single-column right-2-col">
                    @Html.TextAreaFor(m => m.Content, new { @class= "area" })
                </td>
            </tr>
            <tr>
                <td class="single-column left-2-col">
                    Answer 1: 
                </td>
                <td class="single-column right-2-col">
                    @Html.TextAreaFor(m => m.Answer1, new { @class = "area" })
                </td>
            </tr>
            <tr>
                <td class="single-column left-2-col">
                    Answer 2: 
                </td>
                <td class="single-column right-2-col">
                    @Html.TextAreaFor(m => m.Answer2, new { @class = "area" })
                </td>
            </tr>
            <tr>
                <td class="single-column left-2-col">
                    Answer 3: 
                </td>
                <td class="single-column right-2-col">
                    @Html.TextAreaFor(m => m.Answer3, new { @class = "area" })
                </td>
            </tr>
            <tr>
                <td class="single-column left-2-col">
                    Answer 4: 
                </td>
                <td class="single-column right-2-col">
                    @Html.TextAreaFor(m => m.Answer4, new { @class = "area" })
                </td>
            </tr>
            <tr>
                <td class="single-column left-2-col">
                    Correct answer: 
                </td>
                <td class="single-column right-2-col">
                    @Html.TextAreaFor(m => m.CorrectAnswer, new { @class = "area" })
                </td>
            </tr>
            <tr>
                <td class="single-column left-2-col">
                    Reference: 
                </td>
                <td class="single-column right-2-col">
                    @Html.TextAreaFor(m => m.Reference, new { @class = "area" })
                </td>
            </tr>
            <tr>
                <td colspan="2" class="single-column">
                    <input value="Save" id="btnsave" type="submit" class="btn">
                </td>
            </tr>
        </tbody>
    </table>
}