@model QuestionListViewModel


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Questions.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions.First().Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Questions.First().UnitId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) <br />
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
