@model QuestionViewModel

<h2>@Model.Title</h2>

<table>
    @foreach (var question in Model.Questions)
    {
        <tr>
            <td>@question.Content</td><td>@question.Answer1</td><td>@question.Answer2</td><td>@question.Answer3</td><td>@question.Answer4</td><td>@question.CorrectAnswer</td><td>@question.Reference</td>
        </tr>
    }
</table>
