@model UnitListViewModel

<h1>@Model.Title</h1>

@Html.ActionLink("Add Unit", "Add")

<table class="table">
    <thead>
        <tr>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.Units.First().Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Units)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

