@model RevisionViewModel

<h1>@Model.Title</h1>

<p class="item-label">
    @ViewBag.Message
</p>

<p class="item-label">
    Answer:
</p>

<table style="width: 100%;">
    <tbody>
        <tr>
            <td class="single-column">
                @switch (Model.Question.CorrectAnswer)
                {
                    case 1:
                        @Html.Display("Question.Answer1")
                        break;
                    case 2:
                        @Html.Display("Question.Answer2")
                        break;
                    case 3:
                        @Html.Display("Question.Answer3")
                        break;
                    case 4:
                        @Html.Display("Question.Answer4")
                        break;
                }
            </td>
        </tr>
        <tr>
            <td class="single-column">
                <p class="item-label">
                    Reference:
                </p>
            </td>
        </tr>
        <tr>
            <td class="single-column">
                @Html.Display("Question.Reference")
            </td>
        </tr>
        <tr>
            <td class="single-column">
                <button type="button" id="btnnext" onclick="location.href='@Url.Action("Index","MultipleChoice", new { record = Model.Question.Id })'" class="btn">Next question</button>
            </td>
        </tr>
    </tbody>
</table>
